AuthType Basic
AuthName "Restricted Area" 
AuthUserFile "/var/www/webprog2/vhsecurity/.htpasswd"  
AuthGroupFile "/var/www/webprog2/vhsecurity/.htgroup"		
Require group specials
Require user user4